@model IEnumerable<IdentityAppUser>


<div class="container-fluid body pb-5">
    <div class="d-flex justify-content-between mb-3">
        <span class="d-flex flex-column justify-content-center">
            <h3 class="heading-main heading-small mb-0">Users</h3>
        </span>
        <a asp-action="Create" class="btn-add" data-toggle="tooltip" title="Add a new product">
            <img src="~/img/cta/plus.svg" alt="Add a new product"/>
        </a>
    </div>
    <partial name="~/Views/Partials/_TempData.cshtml"/>
    <table id="users_table" class="table">
        <thead>
        <tr class="table-row header blue">
            <th class="cell">First Name</th>
            <th class="cell">Last Name</th>
            <th class="cell">Email/Username</th>
            <th class="cell">Role</th>
            <th class="cell sorting_desc_disabled sorting_asc_disabled">&nbsp;</th>
            <th class="cell sorting_desc_disabled sorting_asc_disabled">&nbsp;</th>
            <th class="cell sorting_desc_disabled sorting_asc_disabled">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">
                <td class="cell left" data-title="Name">
                    @item.FirstName
                </td>
                <td class="cell left" data-title="Price">
                    @item.LastName
                </td>
                <td class="cell left" data-title="Producer">
                    @item.UserName
                </td>
                <td class="cell left" data-title="Producer">
                    @item.Role
                </td>
                <td class="cell" data-title="">
                    <span class="rotating-btn roles">
                        <a asp-controller="Roles" asp-action="Index"></a>
                    </span>
                </td>
                <td class="cell" data-title="">
                    <span class="rotating-btn edit">
                        <a asp-action="Edit" asp-route-id="@item.Id"></a>
                    </span>
                </td>
                <td class="cell" data-title="">
                    <span class="rotating-btn delete">
                        <a asp-action="Delete" asp-route-id="@item.Id"></a>
                    </span>
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#users_table').DataTable();
        });
    </script>
}